@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 240 5.9% 10%;
    --primary-foreground: 0 0% 98%;
    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 240 10% 3.9%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;
    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 240 5.9% 10%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 240 4.9% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }

  .rdp-vhidden {
    @apply hidden;
  }

  @media (width <= 576px) {
    .hidden-on-mobile {
      display: none;
    }

    .text-xs {
      font-size: 0.5rem /* 8px */;
      line-height: 0.75rem /* 12px */;
    }

    .text-xss {
      font-size: 0.4rem /* 8px */;
      line-height: 0.7rem /* 12px */;
    }

    .overlay-container {
      display: none;
    }
  }

  @media (width <= 768px) {
    .hidden-on-tablet {
      display: none;
    }

    .text-xs {
      font-size: 0.5rem /* 8px */;
      line-height: 0.75rem /* 12px */;
    }

    .text-xss {
      font-size: 0.4rem /* 8px */;
      line-height: 0.7rem /* 12px */;
    }

    .overlay-container {
      display: none;
    }
  }

  // mobile
  /* stylelint-disable-next-line block-no-empty */
  @media (width >= 576px) {
    .text-logo {
      text-size-adjust: 1.25rem;
    }
  }

  // ipad
  /* stylelint-disable-next-line block-no-empty */
  @media (width >= 768px) {
  }

  // desktops
  /* stylelint-disable-next-line block-no-empty */
  @media (width >= 1200px) {
  }

  .nav-link:not(:first-child)::before {
    content: '|';
    height: 0.9375rem;
    width: 0;
    position: static;
    margin: 3px;
  }

  .max-w-xs-crs {
    width: 48rem;
  }

  .container {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 14px 28px rgb(0 0 0 / 25%), 0 10px 10px rgb(0 0 0 / 22%);
    position: relative;
    overflow: hidden;
    width: 768px;
    max-width: 100%;
    min-height: 520px;
  }

  .form-container {
    position: absolute;
    top: 0;
    height: 100%;
    transition: all 0.6s ease-in-out;
  }

  .sign-in-container {
    left: 0;
    width: 50%;
    z-index: 2;
  }

  .container.right-panel-active .sign-in-container {
    transform: translateX(100%);
  }

  .sign-up-container {
    left: 0;
    width: 50%;
    opacity: 0;
    z-index: 1;
  }

  .container.right-panel-active .sign-up-container {
    transform: translateX(100%);
    opacity: 1;
    z-index: 5;
    animation: show 0.6s;
  }

  @keyframes show {
    0%,
    49.99% {
      opacity: 0;
      z-index: 1;
    }

    50%,
    100% {
      opacity: 1;
      z-index: 5;
    }
  }

  .overlay-container {
    position: absolute;
    top: 0;
    left: 50%;
    width: 50%;
    height: 100%;
    overflow: hidden;
    transition: transform 0.6s ease-in-out;
    z-index: 100;
  }

  .container.right-panel-active .overlay-container {
    transform: translateX(-100%);
  }

  .overlay {
    background: #ea580c;
    background: linear-gradient(to right, #c2410c, #fb923c);
    background: linear-gradient(to right, #c2410c, #fb923c);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0 0;
    color: #fff;
    position: relative;
    left: -100%;
    height: 100%;
    width: 200%;
    transform: translateX(0);
    transition: transform 0.6s ease-in-out;
  }

  .container.right-panel-active .overlay {
    transform: translateX(50%);
  }

  .overlay-panel {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    top: 0;
    height: 100%;
    width: 50%;
    transform: translateX(0);
    transition: transform 0.6s ease-in-out;
  }

  .overlay-left {
    transform: translateX(-20%);
  }

  .container.right-panel-active .overlay-left {
    transform: translateX(0);
  }

  .overlay-right {
    right: 0;
    transform: translateX(0);
  }

  .container.right-panel-active .overlay-right {
    transform: translateX(20%);
  }

  @keyframes show {
    0%,
    49.99% {
      opacity: 0;
      z-index: 1;
    }

    50%,
    100% {
      opacity: 1;
      z-index: 5;
    }
  }

  .overlay-container2 {
    position: absolute;
    top: 0;
    right: 50%;
    width: 50%;
    height: 100%;
    overflow: hidden;
    transition: transform 0.6s ease-in-out;
    z-index: 100;
  }

  // hover underline
  .hover-underline-animation {
    display: inline-block;
    position: relative;
  }

  .hover-underline-animation::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #f97316;
    transform-origin: bottom right;
    transition: transform 0.2s ease-out;
  }

  .hover-underline-animation:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }

  //underline
  .underline-animation {
    position: relative;
    display: inline-block;
    background-color: none;
  }

  .underline-animation::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -2px; /* Adjust the value to position the underline below the text */
    width: 100%;
    height: 3px;
    background-color: #fdba74;
  }

  .screen-reader-only {
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
  }

  // chat
  .label {
    position: fixed;
    right: 16px;
    bottom: 16px;
    height: 54px;
    width: 54px;
    background: #ea580c;
    text-align: center;
    line-height: 54px;
    border-radius: 54px;
    font-size: 54px;
    color: #fff;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.label i {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: all 0.4s ease;
}

.label i.fas {
  opacity: 0;
  pointer-events: none;
}

#click:checked ~ .label i.fas {
  opacity: 1;
  pointer-events: auto;
  transform: translate(-50%, -50%) rotate(180deg);
}

#click:checked ~ .label i.fab {
  opacity: 0;
  pointer-events: none;
  transform: translate(-50%, -50%) rotate(180deg);
}

.wrapper-chat {
  position: fixed;
  right: 30px;
  bottom: 80px;
  max-height: 400px;
  max-width: 600px;
  background: #fff;
  border-radius: 8px;
  opacity: 0;
  pointer-events: none;
  transition: all 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

#click:checked ~ .wrapper-chat {
  opacity: 1;
  bottom: 80px;
  pointer-events: auto;
}

#click {
  display: none;
}
